
html, body {
    background-color: black;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color:#f5f5f5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    width: 100%; 
    height: auto;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav li:first-of-type {
    color: #f5f5f5;
    display: block;
    float: left;
    font-family: Georgia;
    font-weight: 100;
    font-size: 1.25rem;
    margin-right: auto;
}

nav li {
    float: right;
    margin: 0.625rem;
    padding: 0.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

nav a {
    color: #e0e0e0;
    text-decoration: none;
    display: block;
    padding: 8px;
    font-size: 1.25rem;
}

nav a:hover {
    color: white;
    font-weight: 500;
}

@media (max-width: 600px) {
    /* mobile */
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin: 0.5rem 0;
    }

    nav li:first-of-type {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    nav a {
        font-size: 1rem;
        padding: 0.5rem;
    }
}
@media (max-width: 768px) {
    /* tablet */ 
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 0.75rem 0;
    }

    nav li:first-of-type {
        margin: 0.5rem 0;
        font-size: 1.2rem;
    }

    nav a {
        font-size : 1.125rem;
    }
}

@media (min-width: 769px) {
    nav ul {
        flex-direction: row;
        justify-content: space-between;
    }

    nav li {
        margin: 0 1rem;
    }
    
    nav a {
        font-size: 1.25rem;
    }
}