@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Inter&family=Lato&family=M+PLUS+Rounded+1c:wght@700&family=Silkscreen&display=swap');

/*
  todo:
  convert px to rem
  convert rgb() to hex
*/

* {
  margin: 0;
  font-family: "Silkscreen";
  color: #fff;
  background-color: #232527;
  caret-color: transparent;
}

.navbar {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-bottom: 0.625rem;
  border-bottom: 1px solid #181717;
  border-radius: 0.625rem 6.25rem / 7.5rem;
  z-index: 1000;
}


.navbar .links {
  margin: auto;
  justify-content: flex-end;
  background-color: transparent;
}

.navbar a {
  margin-left: 1rem;
  text-decoration: none;
  padding: 0.375rem;
  background-color: transparent;
  backdrop-filter: blur(0.625rem);
  overflow: hidden;
}

.navbar a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(43, 167, 255);
  border-radius: 0.5rem;
}

.content {
  max-width: 50rem;
  margin: 2.5rem auto;
}

h3 {
  font-family: "Inter";
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: rgb(172, 216, 255);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  margin-bottom: 20px;
}

button {
  width: 150px;
  height: 50px;
  background-color: rgb(43, 167, 255);
  border-radius: 5px;
}

button:hover {
  color:white;
  background-color: white;
  color: rgb(43, 167, 255);
}

.description {
  margin: 10px;
  padding: 10px;
  font-family: "Inter";
  display: flex;
  justify-content: center;
  text-align: center;
}

.site-title {
  font-family: "M PLUS Rounded 1c";
  font-size: 25px;
  margin: auto;
  color: #fff;
  background-color: transparent;
}

.container {
  margin: auto;
  max-width: 50rem;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.game-container {
  margin: auto;
  max-width: 50rem;
  background-color: transparent;
}

.game {
  display: block;
  height: 12.5rem;
  margin: auto;
  background-color: #3a3a3a49;
  background-image: radial-gradient(rgba(203, 203, 203, 0.501) 1px, transparent 0);
  background-size: 2.5rem 2.5rem;
  border-radius: 1.5rem;
}

.game-info{
  display: flex;
  float: left;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  background-color: transparent;
  border-radius: 1.5rem;
}

.game-info p {
  margin: 0.3rem;
  background-color: transparent;
}

#dino {
  width: 8rem;
  height: 8rem;
  position: relative;
  top: 90px; 
  background-image: url(./images/bluehippo.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 90px;
  }

  30% {
    top: 70px;
  }

  50% {
    top: 30px;
  }

  80% {
    top: 70px;
  }

  100% {
    top: 90px;
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 29px;
  left: 800px;
  background-image: url(./images/eiffel-tower.png);
  background-size: 20px 40px;
  background-repeat: no-repeat;
  background-color: transparent;
  image-rendering: pixelated;
  filter: invert(90%);
  animation: block 2s infinite linear;
}

@keyframes block {
  0% {
    left: 800px;
  }

  100% {
    left: 0px;
  }
}

