@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Inter&family=Lato&family=Silkscreen&display=swap');

* {
  margin: 0;
  font-family: "Silkscreen";
  color: #fff;
  background-color: #232527;
  caret-color: transparent;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: auto;
  margin-bottom: 10px;
  border-bottom: 1px solid #181717;
  border-radius: 10px 100px / 120px;
  background-color: #151515;
}

.navbar .links {
  margin-left: auto;
  display:flex;
  justify-content: flex-end;
  background-color: transparent;
  
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  background-color: transparent;
}

.navbar a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(43, 167, 255);
  border-radius: 8px;
}

.content {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

.description {
  font-family: "Inter";
}

.site-title {
  color: #fff;
  background-color: transparent;
}

.container {
  margin: auto;
  max-width: 800px;
  border: 1px solid rgba(0, 0, 0, 0.162);
}

.game {
  display: flex;
  height: 200px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 10px;
}

#dino {
  width: 128px;
  height: 128px;
  position: relative;
  top: 90px; 
  background-image: url(./images/bluehippo.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 90px;
  }

  30% {
    top: 70px;
  }

  50% {
    top: 30px;
  }

  80% {
    top: 70px;
  }

  100% {
    top: 90px;
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 160px;
  left: 800px;

  background-image: url(./images/eiffel-tower.png);
  background-size: 20px 40px;
  background-repeat: no-repeat;
  background-color: transparent;
  image-rendering: pixelated;
  animation: block 2s infinite linear;
}

@keyframes block {
  0% {
    left: 800px;
  }

  100% {
    left: 0px;
  }
}